
<!DOCTYPE html>
<!-- use bootstrap for styling -->
<html>
<head>

	<title>NCAA Conferences</title>
	<link rel=icon href=../static/images/NCCAA_icon.jpeg type="image/jpeg">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>


<style>
	table, td {
	  border: 1px solid black;
	}
	th {
	  border: 1px solid black;
	}
	h6 {
	   color: White
	}
	.nav-item-1{
		margin-top: 0px;
		margin-bottom: -15px;
		margin-left: -12px;
	}
	.nav-item-2{
		margin-top: -20px;
		margin-left: -12px;
		margin-bottom: -20px;
	}
	.nav-item-3{
		margin-top: -20px;
		margin-bottom: -20px;
		margin-left: -12px
	}
	.nav-item-4{
		margin-top:0px;
		margin-bottom: -15px;
		margin-left: -15px
	}

</style>


<body style="background-color:#132243">
	<nav class="navbar sticky-top navbar-expand-md navbar-light bg-warning">
		<div class="container-fluid">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
		    <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

		      	<a class="navbar-brand" href="#">NCAA Men’s Basketball</a>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showSplash')}}">Home</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showAbout')}}">About</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#">Conferences</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showPlayers')}}">Players</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showTeams')}}">Teams</a>
					</li>
				</ul>
			
				
				<ul class="collapse navbar-collapse justify-content-end" >
					<ul class="nav-item-1">
						Search in Conferences by:</ul>
					<ul class="nav-item-2" style =>
					  {% with messages = get_flashed_messages() %}
					  {% if messages %}
					 	<ul class="flashes">
						{% for message in messages %}
						{{ message }}
						{% endfor %}
						</ul>
					  {% endif %}
					  {% endwith %}
					  {% from "_formhelpers.html" import render_field %}
					  <form method="post">
					 
						{{ render_field(form.select) }}
					</ul>
					<ul class="nav-item-3">
						{{ render_field(form.search) }}
					</ul>

					<ul class="nav-item-4">
					  <input type="submit" value="Search">
					</ul> 
				</form>
				</ul>

			</div>
		</div>
	  </nav>
						
<!-- Just obtain all data from conferences needed and display them together 
- should we just give a preview then link full detail to another page ?
(its not that much info to begin with so i don't think its necessary to do but we can to just add some pizzazz to the site LOL) -->
	<style>
		h1{
		text-align: center;
		font-family: Tahoma, sans-serif;
		color:white;
		}
	</style>

	<br>
	<h1> Conferences </h1>
	<br>

	<div>
	{% if conferences == [] %}
		<p>No conferences exist</p>
	{% else %}

	
	
		<!-- display all data here -->
		<table style="width:100%", id='conference_table', class ="table table-hover">
			<tr>
				<th onclick="sortTable('Name')" style="background-color:orange">Conference <i class="fas fa-sort"></i></th>
				<th onclick="sortTable('Size')" style="background-color:orange">Number of Schools <i class="fas fa-sort"></i></th>
				<th onclick="sortTable('Founded')" style="background-color:orange">Date Founded <i class="fas fa-sort"></i></th>
				<th onclick="sortTable('Top')" style="background-color:orange">Top Team <i class="fas fa-sort"></i></th>
				<th onclick="sortTable('Division')" style="background-color:orange">Division <i class="fas fa-sort"></i></th>
			</tr>
            {% if page == total_page %}
            {% for i in conferences[(page - 1)*10:] %}
			<tr>
				<td style="background-color:white"><a href="{{url_for('showConf_data', conference_nm=i.Name)}}">{{i.Name}}</a></td>
				<td style="background-color:white">{{i.Size}}</td>
				<td style="background-color:white">{{i.Founded}}</td>
				<td style="background-color:white"><a href="{{url_for('showTeam_data', team_nm=i.School)}}">{{i.Top}}</a></td>
				<td style="background-color:white">{{i.Division}}</td>
			</tr>
            {% endfor %}
            {% else %}
            {% for i in conferences[(page - 1)*10:page*10] %}
			<tr>
				<td style="background-color:white"><a href="{{url_for('showConf_data', conference_nm=i.Name)}}">{{i.Name}}</a></td>
				<td style="background-color:white">{{i.Size}}</td>
				<td style="background-color:white">{{i.Founded}}</td>
				<td style="background-color:white"><a href="{{url_for('showTeam_data', team_nm=i.School)}}">{{i.Top}}</a></td>
				<td style="background-color:white">{{i.Division}}</td>
			</tr>
            {% endfor %}
        {% endif %}
		</table>

	
    <nav id = "pagination" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page > 1 %}
                <li class="page-item"><a class="page-link" href="{{url_for('showConferences', page = page - 1, option = option, keyword = keyword)}}">Previous</a></li>
            {% endif %}
			{% if 9 >= total_page %}
                {% for i in range(1, total_page + 1) %}
                    <li class="page-item"><a class="page-link" href="{{url_for('showConferences', page = i, option = option, keyword = keyword)}}">{{i}}</a></li>
                {% endfor %}
			{% elif 5 >= page %}
                {% for i in range(1, page + 5) %}
                    <li class="page-item"><a class="page-link" href="{{url_for('showConferences', page = i, option = option, keyword = keyword)}}">{{i}}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link" href="{{url_for('showConferences', page = total_page, option = option, keyword = keyword)}}">{{total_page}}</a></li>
			{% elif page >= total_page - 4 %}
                <li class="page-item"><a class="page-link" href="{{url_for('showConferences', page = 1, option = option, keyword = keyword)}}">1</a></li>
                {% for i in range(page - 4, total_page + 1) %}
                    <li class="page-item"><a class="page-link" href="{{url_for('showConferences', page = i, option = option, keyword = keyword)}}">{{i}}</a></li>
                {% endfor %}
			{% else %}
			    <li class="page-item"><a class="page-link" href="{{url_for('showConferences', page = 1, option = option, keyword = keyword)}}">1</a></li>
				{% for i in range(page - 4, page + 5) %}
                    <li class="page-item"><a class="page-link" href="{{url_for('showConferences', page = i, option = option, keyword = keyword)}}">{{i}}</a></li>
                {% endfor %}
				<li class="page-item"><a class="page-link" href="{{url_for('showConferences', page = total_page, option = option, keyword = keyword)}}">{{total_page}}</a></li>
			{% endif %}
            {% if page != total_page %}
                <li class="page-item"><a class="page-link" href="{{url_for('showConferences', page = page + 1)}}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
	{% endif %}

	<script>
	var sort = '{{sort}}';
	var desc = '{{desc}}';
	var option = '{{option}}';
	var keyword = '{{keyword}}';
	
	if ((sort != '')||(desc != '')) {
		sortTable(sort)
		sortTable(sort)
	}
    function sortTable(column_nm) {
        conferences = {{conferences|tojson}}
        table = document.getElementById("conference_table");
		if (desc == 'T' && sort == column_nm ) {
            if (typeof conferences[0][column_nm] === 'string') {
                conferences.sort(function(a, b){
                    var x = a[column_nm].toUpperCase();
                    var y = b[column_nm].toUpperCase();
                    if (x < y) {return 1;}
                    if (x > y) {return -1;}
                    return 0;
                });
            } else {
                conferences.sort(function(a, b){return b[column_nm] - a[column_nm]});
            }
            desc = "F"
		} else {
            if (typeof conferences[0][column_nm] === 'string') {
                conferences.sort(function(a, b){
                    var x = a[column_nm].toUpperCase();
                    var y = b[column_nm].toUpperCase();
                    if (x < y) {return -1;}
                    if (x > y) {return 1;}
                    return 0;
                });
            } else {
                conferences.sort(function(a, b){return a[column_nm] - b[column_nm]});
            }
			sort = column_nm
            desc = 'T'
		}
		
		if (parseInt({{page}}) == parseInt({{total_page}})) {
            for (i = (parseInt({{page}}) - 1)*10; i < conferences.length; i++) {
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[0].getElementsByTagName("A")[0].innerHTML = conferences[i]['Name'];
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[0].getElementsByTagName("A")[0].href = "/Conferences/" + conferences[i].Name + "/";
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[1].innerHTML = conferences[i]['Size'];
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[2].innerHTML = conferences[i]['Founded'];
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[3].getElementsByTagName("A")[0].innerHTML = conferences[i]['Top'];
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[3].getElementsByTagName("A")[0].href = "/Teams/" + conferences[i].Top + "/";
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[4].innerHTML = conferences[i]['Division'];
            }
        } else {
            for (i = (parseInt({{page}}) - 1)*10; i < parseInt({{page}})*10; i++) {
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[0].getElementsByTagName("A")[0].innerHTML = conferences[i]['Name'];
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[0].getElementsByTagName("A")[0].href = "/Conferences/" + conferences[i].Name + "/";
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[1].innerHTML = conferences[i]['Size'];
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[2].innerHTML = conferences[i]['Founded'];
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[3].getElementsByTagName("A")[0].innerHTML = conferences[i]['Top'];
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[3].getElementsByTagName("A")[0].href = "/Teams/" + conferences[i].Top + "/";
                table.rows[i + 1 - (parseInt({{page}}) - 1)*10].getElementsByTagName("TD")[4].innerHTML = conferences[i]['Division'];
            }
        }
		for (i = 0; i < document.getElementById("pagination").getElementsByTagName("A").length; i++) {
			if (document.getElementById("pagination").getElementsByTagName("A")[i].innerHTML == 'Previous') {
				document.getElementById("pagination").getElementsByTagName("A")[i].href = "/Conferences/?page=" + String(parseInt({{page}} - 1)) + "&sort=" + sort + "&desc=" + desc + "&option=" + option + "&keyword=" + keyword;
			} else if (document.getElementById("pagination").getElementsByTagName("A")[i].innerHTML == 'Next') {
				document.getElementById("pagination").getElementsByTagName("A")[i].href = "/Conferences/?page=" + String(parseInt({{page}} + 1)) + "&sort=" + sort + "&desc=" + desc + "&option=" + option + "&keyword=" + keyword;
			} else {
				document.getElementById("pagination").getElementsByTagName("A")[i].href = "/Conferences/?page=" + document.getElementById("pagination").getElementsByTagName("A")[i].innerHTML + "&sort=" + sort + "&desc=" + desc + "&option=" + option + "&keyword=" + keyword;
			}
			
		}
      }
		  </script>
		<br><br>
		<center><img src="../../../../static/images/popular_confs.jpg" alt="conferences" width = "400"></center>
		<br><br><br>
		<h6>Data source: <a href=http://stats.ncaa.org/team/703/roster/15480>NCAA Statistics</a> </a></h6>
	</body>
</html>


