<html>


	<style>
		h1{
			text-align: center;
			font-family: Tahoma, sans-serif;
			color:white;
    	}
        h4{
			text-align: center;
			font-family: Tahoma, sans-serif;
			color:orange;
    	}
	</style>

<head>
	<title>No Results Found!</title>
	<link rel=icon href=./static/images/NCCAA_icon.jpeg type="image/jpeg">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body style="background-color:#132243">

    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-warning">
		  <div class="container-fluid">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

		      	<a class="navbar-brand" href="#">NCAA Men’s Basketball</a>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showSplash')}}">Home</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showAbout')}}">About</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showConferences')}}">Conferences</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showPlayers')}}">Players</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showTeams')}}">Teams</a>
					</li>
				</ul>

		    </div>
		  </div>
	</nav>
    <br>   <br>

    <h1> No Results Found!</h1>
    <br>
    <center><img src="../../static/images/fails.jpg" alt="fail" width = "600"></center>
    <br>
    <h4> Try searching something different</h3>

    </body>
    </html>
