<!DOCTYPE html>

<!-- Individual Player data page -->
<html>
<head>
	<title>{{single_player.Name}}</title>
	<link rel=icon href=./static/images/NCCAA_icon.jpeg type="image/jpeg">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body style="background-color:#132243">

    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-warning">
		  <div class="container-fluid">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

		      	<a class="navbar-brand" href="#">NCAA Men’s Basketball</a>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showSplash')}}">Home</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showAbout')}}">About</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showConferences')}}">Conferences</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showPlayers')}}">Players</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showTeams')}}">Teams</a>
					</li>
				</ul>

		    </div>
		  </div>
	</nav>

    <style>
      h1{
      text-align: center;
      font-family: Tahoma, sans-serif;
      color:white;
      }
      p{
      color:white;
      }
      table{
      border: 1px solid black;
      margin-left:auto; 
      margin-right:auto;
      }
      td, th {
      border: 1px solid black;
      }
    </style>

	<br>
	
	<p>You are currently viewing {{single_player.Name}}'s Player page ; if you would like to view other Players please click
	<a href="{{url_for('showPlayers')}}">Other Players</a>          </p>
	<h1>{{single_player.Name}}</h1>

	<center><img src="../../static/images/players/player.png" alt="generic player" width = "200"></center>
	<table style="width:30%", id='team_table', class ="table table-hover">
		<tr>
			<th style="background-color:orange">Name:</th>
			<td style="background-color:white">{{single_player.Name}}</td>
		</tr>
		<tr>
			<th style="background-color:orange">Jersey:</th>
			<td style="background-color:white">{{single_player.Jersey}}</td>
		</tr>
		<tr>
			<th style="background-color:orange">Position:</th>
			<td style="background-color:white">{{single_player.Position}}</td>
		</tr>
		<tr>
			<th style="background-color:orange">Height:</th>
			<td style="background-color:white">{{single_player.Height}}</td>
		</tr>
		<tr>
			<th style="background-color:orange">Team:</th>
			<td style="background-color:white"><a href="{{url_for('showTeam_data', team_nm=single_player.School)}}">{{single_player.Team}}</a></td>		
		</tr>
		<tr>
			<th style="background-color:orange">Conference:</th>
			<td style="background-color:white"><a href="{{url_for('showConf_data', conference_nm=single_player.Conference)}}">{{single_player.Conference}}</a></td>
		</tr>
	<table>
	<center><img src="{{single_player.Logo}}" alt="{{single_player.Team}}" width = "400"><img src="{{url_for('static', filename = 'images/conferences/' + single_player.Conference.replace(' ', '_') + '.jpg')}}" alt="{{single_player.Conference}}" width = "400"></center>
</body>

</html>