<!DOCTYPE html>

<!-- Individual Team data page -->
<html>
<head>
	<title>{{single_team.Name}}</title>
	<link rel=icon href=./static/images/NCCAA_icon.jpeg type="image/jpeg">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body style="background-color:#132243">

    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-warning">
		  <div class="container-fluid">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

		      	<a class="navbar-brand" href="#">NCAA Men’s Basketball</a>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showSplash')}}">Home</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showAbout')}}">About</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showConferences')}}">Conferences</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showPlayers')}}">Players</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{url_for('showTeams')}}">Teams</a>
					</li>
				</ul>

		    </div>
		  </div>
	</nav>

    <style>
      h1{
      text-align: center;
      font-family: Tahoma, sans-serif;
      color:white;
      }
      p{
      color:white;
      }
      table{
      border: 1px solid black;
      margin-left:auto; 
      margin-right:auto;
      }
      td, th {
      border: 1px solid black;
      }
    </style>

	<br>
	
	<p>You are currently viewing {{single_team.Name}}'s Team page ; if you would like to view other teams please click
	<a href="{{url_for('showTeams')}}">Other Teams</a>          </p>
	<h1>{{single_team.Name}}</h1>
	<center><img src="{{single_team.Logo}}" alt="{{single_team.Name}}" width = "400"></center>

	<table style="width:30%", id='team_table', class ="table table-hover">
		<tr>
			<th style="background-color:orange">School:</th>
			<td style="background-color:white">{{single_team.School}}</td>
		</tr>
		<tr>
			<th style="background-color:orange">Conference:</th>
			<td style="background-color:white"><a href="{{url_for('showConf_data', conference_nm=single_team.Conference)}}">{{single_team.Conference}}</a></td>
		</tr>
		<tr>
			<th style="background-color:orange">Wins:</th>
			<td style="background-color:white">{{single_team.Wins}}</td>
		</tr>
		<tr>
			<th style="background-color:orange">Losses:</th>
			<td style="background-color:white">{{single_team.Losses}}</td>
		</tr>
		<tr>
			<th style="background-color:orange">Conference Wins:</th>
			<td style="background-color:white">{{single_team.ConferenceWins}}</td>
		</tr>
		<tr>
			<th style="background-color:orange">Conference Losses:</th>
			<td style="background-color:white">{{single_team.ConferenceLosses}}</td>
		</tr>
	<table>
</body>

</html>